.wrapper {
background: white;
}
.menu {
/*display: grid;
grid-template-columns: auto 1fr auto;
grid-template-columns: auto auto;
grid-template-areas: 
'logo search-bar settings'
'. options .';
grid-gap: 50px;
justify-content: start;*/
}
.search-bar {
    min-width: 500px;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    grid-area: search-bar;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 5px;
    align-items: center;
    margin-bottom: 25px;
}
.search-bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}
.search-bar-question {
    height: 24px;
    width: 24px;
    padding: 5px;
    color: #9aa0a6;
}
.search-bar-text {
    border: none;
}
.search-bar-keyboard {
    width: 24px;
    height: 24px;
    fill: currentColor;
}
.setting-cog {
    width: 24px;
    height: 24px;
}
.setting-cog:hover {
    background: rgba(218,220,224,.5);
    text-decoration: none;
}