body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 100;
    background: #fff;

}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}
.picture-icon:hover {
    opacity: 1;
    background-color: rgba(60, 64, 67, 0.08);
    outline: none;
    border-radius: 50%;
}
.english {
    color: #1a0dab;
}
svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.header-content {
    min-width: 250px;
    background-position: -64px -29px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-icon {
    height: 24px;
    width: 24px;
}
.profile-picture {
    border-radius: 50%;
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}
.google-logo {
    margin-bottom: 25px;
}
.search-bar {
    width: 40%;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 29px 1fr 29px;
    grid-gap: 5px;
    align-items: center;
    margin-bottom: 25px;
}
.search-bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223,225,229,0);
}
.search-bar-question {
    height: 24px;
    width: 24px;
    padding: 5px;
    color: #9aa0a6;
}
.search-bar-text {
    border: none;
}

.search-bar-keyboard {
    width: 24px;
    height: 24px;
    fill: currentColor;
}
.search-buttons{
    margin-bottom: 25px;
    display: flex;    
}
.button-search:hover,
.button-goodday:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.button-search,
.button-goodday {
    font-family: Arial, Helvetica, sans-serif;
    color: #70757a;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
.language-select p {
    color: #70757a;
    font-size: 13px;
}
.footer {
    display: flex;
    flex-direction: column;
}
.footer-country {
    padding: 15px 20px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    background-color: #f2f2f2;
}
.footer-links {
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    background-color: #f2f2f2;

}
.footer-links a {
    color: #70757a;
}